<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drawboard</title>
</head>

<body>
    <canvas id="canvas" width="500" height="500"></canvas>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
        integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <style>
        #canvas {
            border: 1px solid #333;
        }
    </style>
</body>

</html>